.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gray-text {
    color: gray;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover  {
    color: white !important;
}

ul {
    list-style: none;
    cursor: pointer;
}

li:hover {
    color: white;
}

body {
    background-color: #141922;
}

main {
    height: calc(100vh - 5.625rem);
    overflow: hidden;
}