header {
    background-color: rgba(8, 11, 18, 0.7);
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 3.125rem);
}

header a {
    color: white;
    border: 1px solid white;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    margin-right: 1.25rem;
}


@media screen and (min-width: 552px) {
    header {
        width: calc(100% - 14.375rem);
    }
}