.main-contents nav {
    justify-content: center;
}

.main-contents {
    width: calc(100% - 3.125rem);
    overflow-y: auto;
}

 .main-contents nav ul {
    margin-top: 6.25rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.main-contents nav ul li {
    color: gray;
    width: calc(100% / 4);
    margin-bottom: 1.25rem;
}

.main-contents nav ul li:first-child {
    position: relative;
    padding-bottom: .4rem;
}

.main-contents nav ul li:first-child::after {
    content: "";
    background: green;
    position: absolute;
    bottom: 0;
    left: calc(30%);
    height: 2px;
    width: 40%;
}

 .main-contents h2 {
    color: white;
    padding: .625rem;
}

.albums {
    flex-wrap: wrap;
}

.album-cover {
    padding: .625rem;
    margin-top: .625rem;
    text-align: center;
    color: white;
    width: calc(100% / 2);
}

.album-cover span {
    color: gray;
}

.album-cover img {
    width: 100%;
}

.album-photo {
    position: relative;
}

.album-photo i {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: none;
}

.album-photo img {
    position: relative;
}

.album-photo:hover img {
    position: relative;
    filter: brightness(0.5);
}

.album-photo:hover i {
    display: initial;
}

.popular .album-cover img {
    border-radius: 50%;
}

.created p,
.popular p {
    color: gray;
}


@media screen and (min-width: 552px){
    .main-contents {
        width: calc(100% - 14.375rem);
    }

    .main-contents nav ul li {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 640px) {
    .main-contents nav ul li {
        width: calc(100% / 5);
    }

    .album-cover {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 878px){
    .main-contents nav ul {
        max-width: 80%;
    }
    
    .main-contents nav ul li {
        width: calc(100% / 6);
    }

    .album-cover {
        width: calc(100% / 6);
    }
}