main .sidebar {
    width: 3.125rem;
    background-color: black;
    align-items: center;
}

.logo #logo-big {
    display: none;
    max-width: 80%;
    padding: 1rem;
}

.menu-item {
    display: block;
    margin-bottom: 0.625rem;
}

.menu-item>* {
    vertical-align: middle;
}

.logo #logo-small {
    margin-bottom: 1.25rem;
    margin-top: .3125rem;
    width: 2rem;
}

.labels {
    display: none;
}

.sidebar-icon {
    width: 1.5rem;
}

.playlist {
    display: none;
    padding: 0 1.625rem;
    margin-top: .625rem;
    flex-grow: 1;
    overflow-y: hidden;
}

.sidebar-menu ul li:first-child {
    border-left: 2px solid green;
}

.sidebar-menu ul li:not(:first-child) {
    padding: 0 .125rem;
}

.playlist h4 {
    color: white;
    font-size: 1.2rem;
}

.new-playlist {
    margin: .625rem 0;
}

.plus-btn {
    margin-right: 0.8rem;
    background-color: gray;
    color: black;
    text-align: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: inline-block;
}

.menu-item {
    padding: 0 1.5rem;
}

.playlist-list {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

.playlist-list li {
    margin-bottom: .3125rem;
}

.divider {
    display: none;
}

.download {
    scale: 0.8;
}

.profile {
    margin-top: auto;
}

.profile-img {
    background-color: gray;
    border-radius: 50%;
}

@media screen and (min-width: 552px) {
    main .sidebar {
        width: 14.375rem;
        align-items: initial;

    }

    .logo #logo-big {
        display: initial;
    }

    .logo #logo-small {
        display: none;
    }

    .labels {
        display: initial;
    }

    .sidebar .sidebar-menu {
        align-items: initial;
    }

    .sidebar-icon {
        margin-right: .3125rem;
    }

    .playlist {
        display: initial;
    }

    .divider {
        display: block;
        margin: 0.5rem 0;
    }
}